<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Scraped!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Get to Know Mars!</h1>
      <p>facts and other fun stuff!</p>.</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>
    <img src="{{ mars_.image_scrape }}" alt="Sloth">
    <h2>The typical weather in Costa Rica is:</h2>
    <h3>title: {{ mars_.news_scrape}}</h3>
    <h3>facts: {{ mars_.facts_scrape }}</h3>
  </div>
  </div>
</body>

</html>